<a href="https://github.com/QuokkaStake/cosmos-transactions-bot">cosmos-transactions-bot</a> v{{ . }}

This bot can track any transactions on any Cosmos-compatible network
and report them on different reporters (currently, only Telegram is supported).

Created by <a href="https://quokkastake.io">🐹 Quokka Stake</a> with ❤️.

The bot can understand the following commands:
- /help - display this message
- /status - see nodes status
- /config - see app config
- /alias [chain] [address] [alias] - set an alias for wallet
- /aliases - see wallets aliases
